body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #85bb65;
}

main {
  display: grid;
  grid-template-areas:
      "header"
      "main"
      "footer";
  grid-template-rows: auto 1fr auto; 
  min-height: 100vh;
}

header {
  background-color: #4b9055;
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 40px; 
}

.about-us a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  transition: color 0.3s; 
}

.about-us a:hover {
  color: #85bb65; 
}

main {
  grid-template-columns: 2fr 1fr; 
  gap: 20px; 
  background-image: url('https://i1.adis.ws/i/canon/future_of_forests_header_16x9_dc14bbe1e35040f79bf566eedaf5c8f7?$hero-header-half-16by9-dt$'); /* Add image background */
  background-size: cover;
  padding: 20px; 
}

.main-content, .sidebar {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content, .sidebar {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.8);
}

footer {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  transition: color 0.3s;
}

footer a:hover {
  color: #85bb65; 
}

.main-content, .sidebar {
  background-color: rgba(255, 255, 255, 0.8); 
  padding: 20px;
}

.sidebar {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  main {
      grid-template-columns: 1fr;
  }
}
